<!-- .contact -->
<div id="contact" class="content_2">
        
<h1 class="h-bloc">About Me</h1>
<style type="text/css">
        #map {
                font-family: "-apple-system","BlinkMacSystemFont","Roboto","Segoe UI","Helvetica Neue","Lucida Grande","Arial","sans-serif";
                font-size: large;
        }        
</style>
   <div class="row">
        
   <div class="col-lg-12">
        <div id="map" style="padding:5%; margine:2px; text-decoration: none; outline: 0;">
<p>
Hi!
</br></br>
I am a Pre-final year Computer Science & Engineering student.
</br></br>
I am a cybersec enthusiast, and i find and exploit vulnerabilities apart from developing software's.
</br></br>
I'm one of the 1200 Microsoft Student Partners across the world and active Pentester.
</br></br>
I'm Core member of various groups at my college. Feel free to reach me out.    
</br>                    
</p> 
</div>
    </div> 

    </div>  

    <div class="col-lg-12">
        <div class="row" id="contact-user">
            <div class="col-md-5">
                <div class="contact-info">
                    <!--<h3 class="main-heading"><span>Contact info</span></h3>-->

                    <div class="title_content" style="float: none;">
                        <div class="text_content">Contact info</div>
                        <div class="clear"></div>
                    </div>

                    <ul>
                        <li><span class="span-info"><i class="glyphicon glyphicon-map-marker"></i> Adress:</span> Bangalore, Karnataka, India.<br /><br /></li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-envelope"></i> Email:</span> Ujwal@studentpartner.com</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-phone"></i> Phone:</span> +91 9611478322</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-globe"></i> Website:</span> https://ujwalkr.com</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-comment"></i> BLOG:</span> https://blog.ujwalkr.com</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-thumbs-up"></i> Instagram:</span> ujwal._.kashyap</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-unchecked"></i> Alternate Email:</span> ujwalkrpro@gmail.com</li>
                    </ul>
                </div>
                <!-- /Contact Info -->
                <div class="clear"></div>

                <!--<h3 class="main-heading" style="margin-left: 22px;"><span>Follow me</span></h3>-->

                <div class="title_content tiltle_contacts" style="float: none;">
                    <div class="text_content">Follow me</div>
                    <div class="clear"></div>
                </div>

            

                    <div id="profile_social">
                        <a href="https://instagram.com/"><i class="fa fa-instagram"></i></a>
                        <a href="https://twitter.com/ujwal07kumar"><i class="fa fa-twitter"></i></a>
                        <a href="https://linkedin.com/in/ujwalkr/"><i class="fa fa-linkedin"></i></a>
                        <a href="https://quora.com/profile/Ujwal-kumar-12"><i class="fa fa-quora"></i></a>
                        <a href="https://medium.com"><i class="fa fa-medium"></i></a>
                        <div class="clear"></div>
                    </div>
      


            </div>

            <div class="col-md-7">
                <!-- Contact Form -->
                <div class="title_content" style="float: none;">
                    <div class="text_content">Let's keep in touch</div>
                    <div class="clear"></div>
                </div>

                <div class="contact-form">
                    <!--<h3 class="main-heading"><span>Let's keep in touch</span></h3>-->



                    <div id="contact-status"></div>

                   <form action="https://formspree.io/xbjgbnve" method="POST">
                        <label>
                                Your Name:</br>
                         <input type="text" name="name" placeholder="Name...">
                        </label>
                        <label>
                                Your email:</br>
                         <input type="text" name="_replyto" placeholder="Email...">
                        </label>
                        <label>
                                Your message:</br>
                         <textarea name="message" placeholder="Your message here.!" style="height:180px;font-size:11pt;width:300px"></textarea>
                        </label>
                        </br>

                        <!-- your other form fields go here -->

                        <button type="submit">Send</button>
                   </form>

                </div>
                <!-- /Contact Form -->
            </div>
        </div>
    </div>  

</div>                                            
</div>
    <!-- End .contact -->
